<!-- Aqui além de usarmos a variável local, nós precisamos utilizar também uma diretiva do angular, chamada 'ngForm', fazendo isso estamos dizendo para o angular que precisamos da ajuda do angular para gerenciar. Essa diretiva pertence ao 'FormsModule'. -->
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="nome">Nome</label>
            <input type="nome" class="form-control is-invalid" id="nome" placeholder="Nome" name="nome" [(ngModel)]="usuario.nome" required #nome="ngModel" [ngClass]="aplicaCssErro(nome)">
            <!-- O uso dos colchetes para o property binding só é necessário caso use uma expressão ou um método, para uma simples string não é necessário -->
            <app-campo-control-erro [mostrarErro]="verificaValidTouched(nome)" msgErro="Nome é obrigatório"></app-campo-control-erro>
        </div>
    </div>
    <!-- Os campos de input recebem algumas classes como controle do campo, caso o campo tenha sido visitado, ou seja, atribuido foco no campo ele recebe a classe ng-touched caso contrário ele mantḿe a classe ng-untouched, se houver alguma mudança de valor no campo, teremos a classe ng-dirty caso contrário teremos a classe ng-pristine. Caso o campo seja válido teremos a classe ng-valid, caso contrário teremos a classe ng-invalid. -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="email">Email</label>
            <input type="email" class="form-control is-invalid" id="email" placeholder="nome@email.com" name="email" [(ngModel)]="usuario.email" required email #email="ngModel" [ngClass]="aplicaCssErro(email)">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched(email)" msgErro="Email inválido"></app-campo-control-erro>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="cep">CEP</label>
            <input type="text" class="form-control is-invalid" id="cep" name="cep" [(ngModel)]="usuario.cep" required #cep="ngModel" [ngClass]="aplicaCssErro(cep)">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched(cep)" msgErro="CEP é obrigatório"></app-campo-control-erro>
        </div>
        <div class="form-group col-md-3">
            <label for="numero">Número</label>
            <input type="text" class="form-control is-invalid" id="numero" name="numero" [(ngModel)]="usuario.numero" required #numero="ngModel" [ngClass]="aplicaCssErro(numero)">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched(numero)" msgErro="Número é obrigatório"></app-campo-control-erro>
        </div>
        <div class="form-group col-md-6">
            <label for="complemento">Complemento</label>
            <input type="text" class="form-control" id="complemento" name="complemento" [(ngModel)]="usuario.complemento" #complemento="ngModel">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="rua">Rua</label>
            <input type="text" class="form-control" id="rua" name="rua" [(ngModel)]="usuario.rua" required #rua="ngModel" readonly>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="bairro">Bairro</label>
            <input type="text" class="form-control is-invalid" id="bairro" name="bairro" [(ngModel)]="usuario.bairro" required #bairro="ngModel" [ngClass]="aplicaCssErro(bairro)">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched(bairro)" msgErro="Bairro é obrigatório"></app-campo-control-erro>
        </div>
        <div class="form-group col-md-4">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control is-invalid" id="cidade" name="cidade" [(ngModel)]="usuario.cidade" required #cidade="ngModel" [ngClass]="aplicaCssErro(cidade)">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched(cidade)" msgErro="Cidade é obrigatório"></app-campo-control-erro>
        </div>
        <div class="form-group col-md-3">
            <label for="estado">Estado</label>
            <input type="text" class="form-control is-invalid" id="estado" name="estado" [(ngModel)]="usuario.estado" required #estado="ngModel" [ngClass]="aplicaCssErro(estado)">
            <app-campo-control-erro [mostrarErro]="verificaValidTouched(estado)" msgErro="Estado é obrigatório"></app-campo-control-erro>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Enviar</button>

    <app-form-debug [form]="f"></app-form-debug>
</form>