<nav>
    <div class="nav-wrapper">
        <a routerLink="/" class="brand-logo right">Rotas Ng2</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/cursos">Cursos</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <!-- Essa tag permite que se tenha suporte as rotas -->
    <!-- Lembrando que os componentes que passamos nas rotas são renderizados dentro dessa tag -->
    <router-outlet></router-outlet>
</div>
